@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  cursor: url("images/click.png"), auto;
}

body {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: url(images/background.gif);
  background-size: cover;
  overflow: hidden;
  height: 100%;
  font-family: 'bebas neue', Arial, Helvetica, sans-serif;
  user-select: none;}

/* BOTÃO DE VOLTAR */
#voltar_pagina { 
  position: fixed;
}

#voltar_pagina:hover { 
  opacity: 90%;
  scale: 102%;
}

#voltarpagelink img:hover{
  cursor: url("images/hover.png"), auto;
}

/* BOTÃO DO PLANETA */
#obj_clicker {
  background: none;
  border: none;
  position: absolute;
  cursor: pointer;
  top: 30%;
  transform: translate(-50%, -50%);
}


button img {
  width: 300px;
  transition: transform 0.3s ease;
  filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.13)) saturate(150%);
}

/* ANIMAÇÃO PARA CLICK E HOVER */
button > img:hover {
  cursor: url("images/hover.png"), auto;
  animation: bounce;
  animation-duration: 1s;
  animation-timing-function: ease;
}

button > img:active{
  animation: active;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}


@keyframes bounce{
  25%{transform: scale(1.1);}
  50%{transform: scale(0.9);}
  75%{transform: scale(1.05);}
  100%{transform: scale(1.0);}
}

@keyframes active{
  25%{transform: scale(0.8);}
  50%{transform: scale(1.1);}
  75%{transform: scale(0.9);}
  100%{transform: scale(1.0);}
}

.go-back{
  position: absolute;
  background-image: url(images/voltar_planeta.png);
  color: white;
}


/* TEXTO DE TAMANHO E NIVEL */
#tamanho {
  margin: auto;
  position: fixed;
  top: 70%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 2.8rem;
  color: white;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.534);
  width: 200px;
  height: 60px;
  font-weight: 700;
  letter-spacing: 1px;
}

#nivel {
  margin: auto;
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  border-radius: 10px;
  width: 300px;
  height: 50px;
  letter-spacing: 1px;
  box-shadow: 0px 1px 2px white;
  border: 5px solid white;
  color: white;
  font-family: "Anton", sans-serif;
  background-color: rgba(0, 0, 0, 0.534); 
}

/* JANELA DE CONQUISTAS */
#conquistas {
  background-color: rgba(0, 0, 0, 0.685);
  border: 2px solid white;
  margin: 5%;
  height: 80%;
  width: 25%;
  position: fixed;
  overflow:auto;
  top: 0%;
  right: 0%;
}

#conquistas_header {
  font-size: 3.3rem;
  color: white;
  border: 2px solid white;
  font-family: "Bebas Neue", sans-serif;
}

#container_conquista {
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

.conquista_box {
  display: flex;
  flex-direction: column;
  color: white;
  text-shadow: black -1px 0px 5px;
  flex-shrink: 0;
  flex-grow: 0;
  height: 30%;
  width: 100%;
  background-size: cover;
  background-position: center;
  font-family: "Bebas Neue", sans-serif;
  align-items: center;
  justify-content: center;
  scale: 0%;
  transition: 0.1s ease;
  user-select: none;
}
.conquista_box > h1 { 
  margin: 0;
  font-size: 5rem;
}
.conquista_box > p { 
  margin: 0;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.103);
}

/* BARRA DE ROLAGEM PERSONALIZADA */
#conquistas::-webkit-scrollbar {
  width: 4px;
}
#conquistas::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  outline: 1px solid #333333;
}

/* DEFINIÇÃO DO GIF DE CADA CONQUISTA */
#plutao {
  background-image: url(images/plutao-banner.gif);
}

#lua {
  background-image: url(images/lua-banner.gif);
}

#mercurio {
  background-image: url(images/mercurio-banner.gif);
}

#marte {
  background-image: url(images/marte-banner.gif);
}

#venus {
  background-image: url(images/venus-banner.gif);
}

#terra {
  background-image: url(images/terra-banner.gif);
}

#urano {
  background-image: url(images/urano-banner.gif);
}

#netuno {
  background-image: url(images/netuno-banner.gif);
}

#saturno {
  background-image: url(images/saturno-banner.gif);
}

#jupiter {
  background-image: url(images/jupiter-banner.gif);
}

#sol {
  background-image: url(images/sol-banner.gif);
}
@media screen and (max-width: 768px) { 
  .conquista_box > h1 { 
    margin: 0;
    font-size: 2rem;
  }
  .conquista_box > p { 
    margin: 0;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.103);
  }
  #conquistas {
    height: 60%;
    width: 40%;
    overflow-x: hidden;
    overflow-y: auto;
    top: 35%;
    right: -2%;
  }
  #tamanho {
    margin: auto;
    position: fixed;
    top: 70%;
    left: 45%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 2.8rem;
    color: white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.534);
    width: 200px;
    height: 60px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  #nivel {
    margin: auto;
    position: fixed;
    top: 80%;
    left: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    letter-spacing: 1px;
    box-shadow: 0px 1px 2px white;
    border: 5px solid white;
    color: white;
    font-family: "Anton", sans-serif;
    background-color: rgba(0, 0, 0, 0.534); 
  }
}